.heading{
    margin:0px;
    width:100%;
    font-size:21px;
}

.div_speed{
float: left;
}

.div_volume{
    float: right;
    }

.disk_speed{
    width:200px;
    border-radius:100px;
}

.disk_volume{
    width:200px;
    border-radius:100px;
}

#speed,#volume{
    font-size: 25px;
    margin:15px;
}
.play_button{
    width:130px;
    font-size: x-large;
}
canvas{
    border-width:5px;
    border-color: cyan;
    border-radius:10px;
}